.third{
    background-color: white;
}
.first{
    font-family: Larsseit;
font-size: 28px;
line-height: 33px;
letter-spacing: -0.03em;
text-align: left;
color: #22356F;
margin-left: 50px;
}
.firstsm{
    font-family: Larsseit;
font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;
text-align: left;
color: rgba(34, 53, 111, 0.5);
}
.second{
    margin-left: 510px;
    margin-top: -165px;
    font-family: Larsseit;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #22356F;
}
.thirds{
color: #22356F;
margin-left: 960px;
margin-top: -165px;
}
.thirdsm{
    font-family: Larsseit;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(34, 53, 111, 0.5);  
}
.m{
    width: 350px;
}
.you{
 color:#22356F;
 font-size: 16px;
 margin-left: 500px;
}
.md{
    font-family: Larsseit;
font-size: 36px;
line-height: 53px;
letter-spacing: -0.01em;
text-align: left;
color: #22356F;
margin-left: 450px;
margin-top: -340px;
}
h5{
letter-spacing: 0.1em;
color: #FAB63E;
font-family: 'Larsseit';
font-size: 16px;
margin-left: 450px;
margin-top: 100px;
}